<h2 class="text-2xl">習慣の記録</h2>
<div class="px-3 py-3">
   <%= form_with model: @habit_log do |form|%>
      <p>達成日時</p>
      <%= form.date_field :date ,class:"rounded-md border-2"%>
      <p>メモ</p>
      <%= form.text_field :memo ,class:"py-5 rounded-md border-2"%>
      <%= form.hidden_field :habit_id %>
      <p><%= primary_submit(form,"送信") %></p>
   <% end %>
</div>